.aboutContainer {
  display: flex;
  width: 90vw;
  height: 80vh;
}
.briefInfo,
.gallerySection {
  width: 50%;
  height: 100%;
}

@media only screen and (max-width: 1200px) {
  .aboutContainer {
    flex-direction: column-reverse;
  }
  .gallerySection,
  .briefInfo {
    width: 100%;
    height: 50%;
  }
}
