@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
.aboutContainer {
  display: flex;
  width: 90vw;
  height: 80vh;
}
.briefInfo,
.gallerySection {
  width: 50%;
  height: 100%;
  display: flex;
}
.briefInfo {
  flex-direction: column;
}
.navBtn {
  display: flex;
  flex-direction: row;
  margin: 10px 10px 0 10px;
}
.miniNavigation,
.miniNavigation:hover {
  all: unset;
  font-size: 0.8rem;
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
  position: relative;
  width: calc(100% / 3);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #df36c2;
  color: #df36c2;
  border-radius: 15px 15px 0 0;
  margin: 0;
  cursor: pointer;
}
.miniNavigation:hover {
  color: white;
  background-color: #df36c377;
}
.detailsCont {
  height: 100%;
}
.contSection {
  display: flex;
  margin: 0 10px 10px 10px;
  background: #df36c2;
  background: linear-gradient(
    179deg,
    rgba(223, 54, 194, 1) 0%,
    rgba(186, 54, 223, 1) 71%,
    rgba(153, 54, 223, 1) 100%
  );
  height: calc(100% - 10px);
  width: calc(100% - 20px);
  border-radius: 0 0 15px 15px;

  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-size: 0.9rem;
}
.galleryContainer {
  margin: 10px;
  background: #ffffff;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.rowContainer {
  /* margin: 10px; */
  height: 100%;
  width: 100%;
  /* background: #ac08d4; */
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.pictureContainerRectangle,
.pictureContainerSquare {
  margin: 5px;
  background: #c00f85;
  border-radius: 10px;
  width: calc(100% - 10px);
}
.pictureContainerRectangle {
  height: calc(67% - 10px);
}
.pictureContainerSquare {
  height: calc(33.3% - 10px);
}

.pictureContainerRectangle:hover,
.pictureContainerSquare:hover {
  filter: contrast(105%);
  filter: brightness(105%);
  filter: hue-rotate(150%);
}
.miniNavCont {
  display: flex;
  flex-direction: column;
  margin: 50px;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  overflow: hidden;
}
.inLineText {
  display: flex;
  padding: 0;
  margin: 0;
  height: 30px;
  justify-content: flex-start;
  align-items: center;
}
.boldName {
  font-weight: 800;
  text-transform: uppercase;
  font-style: bold;
  margin-right: 10px;
}
.regularName {
  font-weight: 400;
  font-style: normal;
  text-transform: lowercase;
}

@media only screen and (max-width: 1200px) {
  .aboutContainer {
    flex-direction: column-reverse;
    height: 250vh;
    margin-top: 50px;
    justify-content: flex-end;
  }
  .gallerySection,
  .briefInfo {
    width: 100%;
  }

  .briefInfo {
    margin-top: 50px;
    height: 60%;
    z-index: 1;
    animation: boxMovement 1ms ease;
  }

  @keyframes boxMovement {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(1);
    }
  }
  .gallerySection {
    height: 26%;
  }
}
