.boothContainer {
  height: 80vh;
  width: 90vw;
  display: flex;
  justify-content: space-between;
}
.frameContainer {
  height: 100%;
  width: 20%;
}
.cameraContainer {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#imgCaptured {
  width: 20%;
  height: 30%;
  border: 2px solid #000;
  position: absolute;
  background-color: #14000cb0;
  z-index: 1;
}
.btnCapture {
  color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 10px;
  width: 40%;
  height: 40px;
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
}
.webCam {
  background-color: #303030;
  height: 95%;
  width: 75%;
}
/* frame */

@media only screen and (max-width: 1200px) {
  .boothContainer {
    flex-direction: column;
  }
  .frameContainer {
    width: 100%;
    height: 20%;
  }
  .cameraContainer {
    width: 100%;
    height: 50%;
  }
}

@media only screen and (max-width: 400px) {
  .webCam {
    height: 100%;
    width: 100%;
  }
  .btnCapture {
    height: 20%;
    width: 30%;
    border-radius: 50px;
  }
  #imgCaptured {
    width: 50%;
    height: 25%;
  }
}
