.boothContainer {
  height: 80vh;
  width: 90vw;
  display: flex;
  justify-content: space-between;
}
.frameContainer {
  height: 100%;
  width: 20%;
}
.cameraContainer {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#imgCaptured {
  width: 20%;
  height: 30%;
  border: 2px solid #000;
  position: absolute;
  z-index: 1;
}
.btnCapture {
  background-color: #e00c81;
  color: white;
  font-weight: 600;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  border: 2px solid white;
}
