/* For function Messages */

/* Container */

.messageContainer {
  display: flex;
  width: 80%;
  height: max-content;
  background-color: aliceblue;
  border-radius: 12px;
  margin: 2%;
  color: black;
  flex-direction: column;
  font-size: 0.9rem;
  box-shadow: 2px 4px 20px #00000052;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  justify-content: space-around;
}
.messageContainer:hover {
  transform: rotate3d(1, 8, 7, 3deg);
}
.nameContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0 10px 0;
  width: 100%;
  height: max-content;
  /* overflow: hidden; */
  white-space: nowrap;
  text-overflow: ellipsis;
}
.imageContainer {
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.imageContent {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(233, 208, 233);
  padding: 0.5px;
  border: none;
}
.nameAlignment {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 73%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.reactionContainer {
  display: flex;
  height: 20%;
  align-items: center;
  margin: 10px;
}

/* Text */
.nameMessage {
  line-height: 0;
  font-weight: 500;
  margin: 10px 10px 10px 0;
}
.dateTime {
  font-size: 0.7rem;
  line-height: 0;
  margin: 5px 5px 5px 0;
}
.contentMessage {
  text-align: justify;
  padding: 10px;
  margin: 0px 15px 15px 15px;
  height: max-content;
  width: 85%;
  display: flex;
  overflow: visible;
  text-wrap: wrap;
}
@media only screen and (max-width: 1200px) {
  .messageContainer {
    width: 85%;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .messageContainer {
    width: 90%;
    border-radius: 18px;
  }
}
@media only screen and (max-width: 600px) {
  .messageContainer {
    width: 95%;
    border-radius: 16px;
  }
  .nameMessage {
    font-weight: 600;
  }
  .dateTime {
    font-size: 0.6rem;
  }
}
@media only screen and (max-width: 400px) {
  .messageContainer {
    width: 100%;
    border-radius: 12px;
  }
}
