/* For function Messages */
@supports (animation-timeline: view()) {
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .messageContainer {
    animation: fade-in auto linear both;
    animation-timeline: scroll();
    animation-range: 0% 100px;
  }
}
/* Container */

.messageContainer {
  display: flex;
  width: 80%;
  height: 45%;
  background-color: aliceblue;
  border-radius: 12px;
  margin: 2%;
  color: black;
  flex-direction: column;
  font-size: 0.9rem;
  box-shadow: 2px 4px 20px #00000052;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.messageContainer:hover {
  transform: rotate3d(1, 8, 7, 3deg);
}
.nameContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0px 0;
  width: 100%;
  height: max-content;
  /* overflow: hidden; */
  white-space: nowrap;
  text-overflow: ellipsis;
  align-content: center;
  align-items: center;
}
.imageContainer {
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 15px;
}
.imageContent {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(233, 208, 233);
  padding: 0.5px;
  border: none;
}
.nameAlignment {
  margin: 0px 20px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 73%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.reactionContainer {
  display: flex;
  height: 15%;
  align-items: center;
  margin: 10px;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
  padding: 1px;
}
::-webkit-scrollbar-thumb {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    1deg,
    rgb(166, 55, 240, 0.8) 0%,
    rgb(237, 56, 250, 0.8) 80%,
    rgba(253, 153, 203, 0.8) 100%
  );
  border-radius: 30px;
  height: 20px;
}
::-webkit-scrollbar-track {
  background: rgba(253, 153, 203, 0.3);
}
/* Text */
.nameMessage {
  line-height: 0;
  font-weight: 500;
  margin: 10px 10px 10px 0;
}
.dateTime {
  font-size: 0.7rem;
  line-height: 0;
  margin: 5px 5px 5px 0;
}
.contentMessage {
  text-align: justify;
  padding: 0px 5px 15px 15px;
  margin: 0px 5px 5px 5px;
  height: 80%;
  width: 85%;
  display: flex;
  overflow: visible;
  text-wrap: wrap;
  overflow-y: overlay;
  overflow-x: hidden;
}
@media only screen and (max-width: 1200px) {
  .messageContainer {
    width: 85%;
    border-radius: 20px;
    height: max-content;
  }
  .contentMessage {
    padding: 15px;
    margin: 0px 15px 0px 15px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 800px) {
  .messageContainer {
    width: 90%;
    border-radius: 18px;
  }
}
@media only screen and (max-width: 600px) {
  .messageContainer {
    width: 95%;
    border-radius: 16px;
  }
  .nameMessage {
    font-weight: 600;
  }
  .dateTime {
    font-size: 0.6rem;
  }
}
@media only screen and (max-width: 400px) {
  .messageContainer {
    width: 100%;
    border-radius: 12px;
  }
}
